@import "vendor/normalize/_normalize.scss";
@include normalize();
@import "lib/_theme.scss";

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: $app-dark;
  color: $app-primary;
  h1{
    text-align: center;
  }
  form, h1, ol {
    border: 1px solid $app-accent;
    background-color: $app-light;
    width: 75%;
    padding: 20px;
    margin: 15px auto;
    li {
      list-style-type: circle;
      margin: 5px;
    }
  }
}
